.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

.form-item {
  position: relative;
  box-sizing: border-box;
}

.form-item input {
  display: block;
  width: calc(100% - 24px);
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.text-center {
  text-align: center;
}

.story-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.story-item {
  flex: 0 0 auto;
  width: 240px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
.story-card {
  height: calc(100% - 20px);
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.story-card h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 16px;
  color: inherit;
}

.story-card p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
}
